html {
	font-size: 100%;
}

body {
	background-color: #ffffee;
}

.topo {
	font-size: 3em;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	background-color: #6b190d;
	color: white;
	height: 1.5em;
	vertical-align: middle;
	padding: .25em;
	box-sizing: border-box;
	text-transform: uppercase;
	float: left;
	width: 100%;
	text-shadow: 0px 0px 15px #000000;
}

.imagem-ml {
	box-sizing: border-box;
	position: absolute;
	border: .25em solid #8a6a2d;
	top: -.25em;
	right: -.25em;
	min-height: 15em;
	max-height: 15em;
	border-radius: 0px 0px 0px 25px;
}

.menu {
	padding: .25em;
	background-color: black;
	color: gray;
	box-sizing: border-box;
	position: absolute;
	top: 14.75em;
	right: 0em;
	min-height: 13em;
	max-height: 13em;
	width: 18em;
	border-radius: 0px 0px 0px 25px;
}

.menu li {
	padding: .25em;
	padding-left: 1em;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	text-transform: none;
	font-size: 1.4em;
	line-height: 1.3em;
}

.menu a {
	color: #8a6a2d;
    text-decoration: none;
}

.conteudo {
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
}

.topico {
	font-size: 1.5em;
	padding-left: 2em;
	padding-right: 2em;
	text-align: justify;
	font-family: 'Cormorant Infant', serif;
	line-height: 1.3em;
}

.topico:first-letter {
	font-size: 1.75em;
}

.topico:after {
	content: '-';
}

.titulo-topico {
	font-size: 2em;				
	font-weight: bold;
	text-align: left;
	padding: .25em;
	margin-top: .5em;
	color: #8a6a2d;
}

.recuo-topico {
	padding-right: 15em;
}

.fsspx {
	width: 80%;
	float:left;
}

.imagem-fsspx {
	width: 17%;
	float: right;
	border-radius: 50%;
	box-shadow: 0px 0px 10px #8a6a2d;
	margin-right: 2em;
}

.sagracoes {
	clear: both;
}