body {
	background-color: ##ffffee;
}

.topo {
	font-size: 34px;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	background-color: #6b190d;
	color: white;
	height: 70px;
	vertical-align: middle;
	padding: 17px;
	box-sizing: border-box;
	text-transform: uppercase;
	float: left;
	width: 100%;
}

.imagem-ml {
	box-sizing: border-box;
	position: absolute;
	border: 5px solid #8a6a2d;
	top: -5px;
	right: -5px;
	min-height: 182px;
	max-height: 182px;
}

.menu {
	padding: 10px;
	background-color: black;
	color: gray;
	box-sizing: border-box;
	position: absolute;
	top: 177px;
	right: 0px;
}

.menu li {
	padding: 10px;
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	text-transform: none;
}

.menu a {
	color: #8a6a2d;
    text-decoration: none;
}

.conteudo {
	padding-top: 50px;
	padding-bottom:50px;
	clear: both;
}

.topico {
	font-size: 22px;
	padding-left: 40px;
	padding-right: 20px;
	text-align: justify;
	font-family: 'Cormorant Infant', serif;
	line-height: 1.3;
}

.titulo-topico {
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	padding: 20px;
	color: #8a6a2d;
}

.recuo-topico {
	padding-right: 220px;
}

.fsspx {
	width: 80%;
	float:left;
}

.imagem-fsspx {
	width: 20%;
	float: right;
}

.sagracoes {
	clear: both;
}